{% block element_accordion %}
    <div class="accordion" id="accordion-{{ element.id }}">
        {% for item in element.translated.config.accordion.value %}
            {% if loop.first and element.translated.config.firstItemOpen.value is true %}
                {% set itemOpen = true %}
            {% else %}
                {% set itemOpen = false %}
            {% endif %}
            <div class="accordion-item">
                <h2 class="accordion-header"
                    id="heading-{{ element.id }}-{{ item.position }}">
                    <button class="accordion-button{% if not itemOpen %} collapsed{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ element.id }}-{{ item.position }}"
                            aria-expanded="{{ itemOpen ? 'true' : 'false' }}"
                            aria-controls="collapse-{{ element.id }}-{{ item.position }}"
                    >
                        {{ item.header }}
                    </button>
                </h2>
                <div id="collapse-{{ element.id }}-{{ item.position }}"
                     class="accordion-collapse collapse{% if itemOpen %} show{% endif %}"
                     aria-labelledby="heading-{{ element.id }}-{{ item.position }}"
                     data-bs-parent="#accordion-{{ element.id }}"
                >
                    <div class="accordion-body">
                        {{ item.body|raw|sw_sanitize }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
